html {
    width: 100%;
    height: 100%;
    background-color: #4e008e;
    color: white;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0px;
}

.huge-text {
    font-size: 200pt;
}

h1 {
    font-size: 50pt;
    text-align: center;
    margin: 0px;
}

@media(max-width: 1400px) {
    .huge-text {
        font-size: 170pt;
    }
}

@media(max-width: 1200px) {
    .huge-text {
        font-size: 140pt;
    }

    h1 {
        font-size: 30pt;
    }
}

@media(max-width: 1000px) {
    .huge-text {
        font-size: 100pt;
    }

    h1 {
        font-size: 25pt;
    }
}

@media(max-width: 700px) {
    .huge-text {
        font-size: 70pt;
    }
}

@media(max-width: 490px) {
    .huge-text {
        font-size: 50pt;
    }
}

p {
    margin: 0px;
}

.footer {
    opacity: 70%;
    font-size: 8pt;
    text-align: center;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: violet;
}

.timer {
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fancy-button {
    background-color: #4e008e;
    color: white;
    border: none;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15pt;
}

.fancy-button:hover {
    border-bottom: 3px solid gray;
}

.active-button {
    border-bottom: 3px solid white;
}

